<header>
    <div class="title">
        <h1>Expressive <span style="color:crimson"> Devo</span>YE<span style="color: crimson">uring</span></h1>
        <h2>Gourmet foods for gourmands</h2>
    </div>
</header>

<main class="container">

    {{#each foods}}
        {{#if devo_ye_ured}}
            {{> food-block devo_ye_ured=true}}
        {{else}}
            {{> food-block devo_ye_ured=false}}
        {{/if}}
    {{/each}}

    <div class="row">
        <h1>Add a gourmet dish of your own:</h1>
    </div>
    <form class="row" id="insertOne" method="POST" action="/api/foods">
        <div class="col1">
            <div class="form-group">
                <label for="fo">Name of gourmet dish:*</label>
                <input type="text" id="fo" name="food_name">
            </div>
            <button type="submit" class="toBeDevoured">Add it!</button>
            <p id="req">* Required fields</p> 
        </div>
        <div class="col2">
            <div class="form-group">
                <label for="devo">DevoYEured?*</label><br>
                <input type="radio" name="devo_ye_ured" value="1" checked> YE! Oui, madame ou monsieur!<br>
                <input type="radio" name="devo_ye_ured" value="0"> NO YE... Non, mon cher ami...
            </div>
        </div>
        <div class="col3">            
            <div class="form-group">
                <label for="ingred">Ingredients (optional):</label>
                <input type="text" id="ingred" name="ingredients">
            </div>

            <div class="form-group">
                <label for="pic">Link to a photograph (optional):</label>
                <input type="text" id="pic" name="pic_url">
            </div>
        </div>
    </form>
</main>

<footer>
    <div class="devoyeured">
        <h2><span style="color:crimson">Devo</span>YE<span style="color:crimson">ured</span></h2>
        <ul class=""> 
            {{#each foods}} 
                {{#if devo_ye_ured}} 
                    <li class="list-item"><h2>{{food_name}}</h2></li>
                {{/if}}
            {{/each}}
        </ul>
        <div class="signature">
        Made with <img src="/public/assets/img/care.png" alt="care"> by <a href="https://bohdicave.github.io/">BohdiCave</a><br> 
        Icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </div>  
</footer>