body {
    background-color: rgba(144, 238, 144, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkolivegreen;
    margin: 0;
    border: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-image: url("https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/term_desktop/public/2019-07/Gourmet-food-%E2%94%AC%C2%AEGetty-Images.jpg?h=5b657edc&itok=RRzKIajc");
    background-position: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
    width: 35%;
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    margin: 0px 30px 60px 30px;
}

.row {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col1 {
    flex: 1 0 30%;  
    padding-left: 10px;
    min-height: 300px;
}

.col2 {
    flex: 1 0 30%;
    padding: 0px 20px;
}

.col3 {
    flex: 1 0 30%;
}

h1, h2 {
    text-shadow: 1px 1px 8px darkgray;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 18px;
    line-height: 1.5em;
    color: #444;
}

img {
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    padding: 5px 10px;
    font-size: 20px;
    background-color: crimson;
    color: whitesmoke;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.devouredBtns {
    margin-top: 20px;
}

.devoured {
    background: black;
}

.toBeDevoured {
    background: darkolivegreen;
    margin-top: 20px;
}

.hide {
    display: none;
}

#insertOne {
    height: 100px;
    padding: 20px 30px 30px;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
}

#insertOne .col2 {
    flex: 1 0 25%;
    margin: 0 30px;
    line-height: 2em;
}

#insertOne input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid darkolivegreen;
    width: 100%;
    word-wrap: break-word;
    color: inherit;
    font-size: 16px;
}

#req {
    margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-image: url("https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/term_desktop/public/2019-07/Gourmet-food-%E2%94%AC%C2%AEGetty-Images.jpg?h=5b657edc&itok=RRzKIajc");
    background-position: center;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}

.devoyeured {
    flex: 1 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

.list-item {
    flex: 1 0 auto;
    display: inline;
    margin-top: 0;
}

li h2 {
    margin-top: 0;
}

.signature {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px;
    line-height: 1.5em;
}

#care {
    width: 30px;
}